.header
    border-bottom: 1px solid $lightgray

.header__title
    text-align: center

a.header__title__home
    color: $gray

.header__tabs
    display: table
    width: 100%

.header__tab
    display: table-cell
    font-size: 18px
    border-bottom: 5px solid transparent
    text-align: center
    padding: 8px 0 12px

// Colors

@mixin tab-active($color)
    color: $color
    border-bottom-color: $color

a.header__tab-home, .home .header__title__tab-name
    color: $home

.home .header__tab-home
    @include tab-active($home)

a.header__tab-posts, .posts .header__title__tab-name
    color: $posts

.posts .header__tab-posts
    @include tab-active($posts)

a.header__tab-photos, .photos .header__title__tab-name
    color: $photos

.photos .header__tab-photos
    @include tab-active($photos)

a.header__tab-videos, .videos .header__title__tab-name
    color: $videos

.videos .header__tab-videos
    @include tab-active($videos)

@media screen and (min-width: 600px)
    .header
        display: table
        width: 100%
    .header__title, .header__tabs
        display: table-cell
        vertical-align: middle
    .header__title
        text-align: left
        padding-left: $padding
    .header__tabs
        text-align: right
        width: auto
    .header__tab
        display: inline-block
        padding: 16px 15px 12px

// Alert

.alert-fixed
    position: fixed
    width: 100%
    top: 0
    z-index: 9999
    + .alert
        visibility: hidden

.alert
    word-wrap: break-word
    border-radius: 0
    border-top: 0
    margin-bottom: 0
    box-shadow: 0 0 4px $gray
    .close
        top: -15px
        right: -36px
        padding: 12px 19px
        font-size: 24px
        opacity: 1

.alert-dismissable .close:hover
    color: inherit
    opacity: 1

// Modal

.modal
    background: rgba(255, 255, 255, 0.5)
    &.in
        display: block
    .close
        padding: 15px
        margin: -15px -15px 0 0

.modal-footer
    margin-top: 0
