<div ng-if="modal">
    <div class="modal in" ng-click="hideModal()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div ng-include="modal.templateUrl"></div>
            </div>
        </div>
    </div>
</div>

<div ng-if="alert">
    <div class="alert-fixed">
        <div class="alert alert-dismissable" ng-class="{warning: 'alert-warning', success: 'alert-success', error: 'alert-danger', info: 'alert-info'}[alert.type]">
            <button type="button" ng-click="hideAlert()" class="close">&times;</button>
            {{alert.message}}
        </div>
    </div>
    <div class="alert alert-dismissable">
        {{alert.message}}
    </div>
</div>

<header class="header">
    <h2 class="header__title">
        <a class="header__title__home" title="Homepage" href="/">Lily</a>
        <span class="header__title__tab-name" ng-switch="" on="tab">
            <span ng-switch-when="home">Mandarin</span>
            <span ng-switch-when="posts">Posts</span>
            <span ng-switch-when="photos">Photos</span>
            <span ng-switch-when="videos">Videos</span>
        </span>
    </h2>
    <nav class="header__tabs">
        <a href="/" class="header__tab header__tab-home">Home</a>
        <a href="/posts" class="header__tab header__tab-posts">Posts</a>
        <a href="/photos" class="header__tab header__tab-photos">Photos</a>
        <a href="/videos" class="header__tab header__tab-videos">Videos</a>
    </nav>
</header>

<lm-progress loading="loading"></lm-progress>
