<lm-card>
    <div class="lm-card__front">
        <div class="translucent-header">
            <small>{{clickTap | Ufl}} to show translation</small>
            <small>{{photo.ago | Ago}}</small>
        </div>
        <img class="lm-photo__img" ng-if="photo | ImgSrc" ng-src="{{photo | ImgSrc: 600}}">
    </div>
    <div class="lm-card__back">
        <div class="lm-photo__lines">
            <div class="lm-photo__lines__centered">
                <h1 class="lm-photo__line zh-cn">{{photo.lines[0]['zh-CN']}}</h1>
                <h3 class="lm-photo__line pinyin">{{photo.lines[0]['pinyin']}}</h3>
                <h3 class="lm-photo__line en-us">{{photo.lines[0]['en-US']}}</h3>
            </div>
        </div>
        <div class="lm-photo__buttons">
            <lm-social class="lm-social--compact" url="socialUrl" text="socialText"></lm-social><a class="btn btn-primary" href="/photo/{{photo.id}}/{{photo.slug}}" target="_blank" ng-click="$event.stopPropagation()">
                <span class="icon-container">
                    <span class="icon icon-link-white"></span>
                </span>
                <span class="text">Link</span>
            </a>
        </div>
    </div>
</lm-card>
<lm-admin>
    <lm-status article="photo"></lm-status>
</lm-admin>
