lm-photo
    display: block
    position: absolute
    .lm-admin
        position: absolute
        left: 15px
        bottom: 15px
        z-index: 2
    .lm-status__processing
        display: block
        background: white
        margin-top: 5px
        padding: 1px 4px
        border-radius: 3px
    .lm-card--flipped + .lm-admin
        display: none

.lm-photo__lines
    display: table
    width: 100%
    height: 100%
    color: $default
    > div
        display: table-cell
        width: 100%
        height: 100%
        text-align: center
        vertical-align: middle
        padding: 0 10px 35px
    .pinyin
        margin-top: 15px
    .en-us
        margin-top: 20px

.lm-photo__buttons
    position: absolute
    bottom: 15px
    left: 0
    right: 0
    text-align: center
    lm-social
        margin-right: 10px
