.photo
    text-align: center

.photo__container
    display: inline-block
    width: 100%
    max-width: 500px
    .buttons
        margin: 20px 0 0

.photo__placeholder
    text-align: left
    width: 100%
    max-width: 500px
    position: relative
    margin: $padding 0
    lm-photo
        top: 0
        left: 0
        width: 100%
        height: 100%
    .lm-photo__buttons
        display: none

