<article class="video">
    <lw-video-header video="video" social-url="socialUrl" social-text="socialText"></lw-video-header>
    <div lw-sticky>
        <div class="player" lw-top-half="{{videoWidth / videoHeight}}">
            <lw-video source="sources.current"></lw-video>
        </div>
    </div>
    <div class="sources" ng-if="sources.remaining.length">
        Playing from {{sources.current | FancySource}}. Also available on
        <span ng-repeat="source in sources.remaining">
            <a href="#" ng-click="setSource(source)">{{source | FancySource}}</a>{{$last ? '.' : ' and '}}
        </span>
    </div>
    <div class="buttons">
        <lw-social url="socialUrl" text="socialText"></lw-social>
    </div>
    <div class="lines padded">
        <div ng-repeat="line in video.lines">
            <h3 class="zh-cn">{{line['zh-CN']}}</h3>
            <div class="translation" ng-class="{'hidden-translation': !line.showTranslation}">
                <div class="show-translation-container">
                    <button type="button" class="btn btn-sm" ng-click="toggleTranslation(line)">Translation</button>
                </div>
                <div class="text">
                    <h4 class="pinyin">{{line['pinyin']}}</h4>
                    <h4 class="en-us">{{line['en-US']}} <button type="button" class="btn btn-sm" ng-click="toggleTranslation(line)">Hide</button></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <lw-social url="socialUrl" text="socialText"></lw-social><a class="btn btn-primary more" href="/videos">More videos</a>
    </div
</article>
