<lm-admin>
    <a href="/admin/new/video?category=" target="_blank" class="btn btn-xs new">New</a>
</lm-admin>
<article ng-repeat="article in articles track by article.id">
    <lm-video-header video="article"></lm-video-header>
    <a title="Watch" class="videos__preview" href="/video/{{article.id}}/{{article.slug}}">
        <img class="videos__preview__poster" ng-src="{{article | ImgSrc: 1200}}">
        <div class="videos__preview__overlay icon-play-white"></div>
    </a>
</article>
<div class="buttons">
    <lm-more name="videos" status="loadStatus" load="load()"></lm-more>
</div>
