<lm-admin>
    <a href="/admin/new/video?category=" target="_blank" class="btn btn-xs new">New</a>
</lm-admin>
<article ng-repeat="video in videos">
    <lm-video-header video="video"></lm-video-header>
    <a title="Watch" class="preview" href="/video/{{video.id}}/{{video.slug}}">
        <img class="poster" ng-src="{{video | ImgSrc: 1200}}">
        <div class="overlay lm-center--horizontal" lm-center>
            <span class="icon icon-play-white"></span>
        </div>
    </a>
</article>
<div class="buttons">
    <lm-more></lm-more>
</div>
