<lm-admin>
    <a href="/admin/new/video?category=" target="_blank" class="btn btn-xs new">New</a>
</lm-admin>
<article ng-repeat="video in videos">
    <lm-video-header video="video"></lm-video-header>
    <a title="Watch" class="videos__preview" href="/video/{{video.id}}/{{video.slug}}">
        <img class="videos__preview__poster" ng-src="{{video | ImgSrc: 1200}}">
        <div class="videos__preview__overlay icon-play-white"></div>
    </a>
</article>
<div class="buttons">
    <lm-more></lm-more>
</div>
