.home__title
    margin-bottom: 15px

// Mailchimp

.mailchimp__label
    display: block
    font-weight: normal
    margin-bottom: 10px

.mailchimp__perk
    vertical-align: bottom
    width: 14px
    height: 14px
    margin: 0 5px 3px 0

.mailchimp__submit
    margin: 10px 0

.mailchimp__latest
    margin-top: 5px
    lm-write
        display: inline-block
        color: $gray
        &.loaded
            color: $default
            font-size: 0
        a
            font-size: 14px

@media screen and (min-width: 599px)
    .mailchimp__email
        display: inline-block
        max-width: 400px
        margin-bottom: 10px
        vertical-align: middle
    .mailchimp__submit
        margin: 0 0 10px 10px
        vertical-align: middle

// Lessons

.lessons
    margin-bottom: -15px
    overflow: hidden

.lessons__item
    text-align: center
    margin-bottom: 15px

.lessons__illus
    display: block
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    width: 120%
    margin-left: -10%
    padding-top: 80%
    @media screen and (max-width: 1050px)
        padding-top: 90%
    @media screen and (max-width: 900px)
        padding-top: 100%
    @media screen and (max-width: $bootstrapsm - 1)
        padding-top: 65%
    @media screen and (max-width: 650px)
        padding-top: 80%
    @media screen and (max-width: 500px)
        padding-top: 100%

.lessons__illus--reputable
    background-image: url(/static/images/Mat_Lily_01.svg)
.lessons__illus--adaptable
    background-image: url(/static/images/Mat_Lily_02.svg)
.lessons__illus--efficient
    background-image: url(/static/images/Mat_Lily_03.svg)
.lessons__illus--bilingual
    background-image: url(/static/images/Mat_Lily_04.svg)

.lessons__keyword
    margin: 8px 0 4px

// Contact

.contact__portrait
    background-image: url(/static/images/portrait.jpg)
    background-position: 0% 20%
    background-repeat: no-repeat
    background-size: cover
    padding-top: 70%

.contact__method
    margin: 15px 0 15px 15px

.contact__icon, .contact__address
    display: inline-block
    vertical-align: middle

.contact__icon
    background-color: $home
    border-radius: 3px
    width: 32px
    height: 32px

.contact__address
    margin: 0 0 0 10px
    color: $default

.contact__address--email
    font-weight: bold

@media screen and (min-width: 610px)
    .contact__portrait
        border-radius: 100%
        width: 250px
        height: 250px
        padding-top: 0
        margin-left: $padding
        display: inline-block
        vertical-align: middle
    .contact__methods
        display: inline-block
        vertical-align: middle
