<section class="latest">
    <h3 class="home__title padded">Latest</h3>
    <lm-latest></lm-latest>
</section>

<section class="mailchimp padded">
    <label class="mailchimp__label" for="mailchimp__email">
        <h3 class="home__title">Join the newsletter!</h3>
    </label>

    <form action="http://lilymandarin.us3.list-manage.com/subscribe/post?u=8a65a9b821e6f82d77ea3557d&amp;id=b6fc866739" method="post" target="_blank">
        <input type="email" class="mailchimp__email form-control input-lg" id="mailchimp__email" value="" name="EMAIL" placeholder="Enter your email address" required><button type="submit" class="mailchimp__submit btn btn-lg btn-primary">Subscribe</button>
    </form>

    <div>
        <div>
            <span class="mailchimp__perk icon icon-check-green"></span><span>One email a week</span>
        </div>
        <div>
            <span class="mailchimp__perk icon icon-check-green"></span><span>Easy to unsubscribe – no spam</span>
        </div>
        <div>
            <span class="mailchimp__perk icon icon-check-green"></span><span>Free!</span>
        </div>
    </div>

    <div class="mailchimp__latest">
        Latest sample:
        <lm-write src="http://us3.campaign-archive1.com/generate-js/?u=8a65a9b821e6f82d77ea3557d&fid=3945&show=1">
            <span>Loading...</span>
        </lm-write>
    </div>
</section>

<section class="lessons padded">
    <h3 class="home__title">Private Chinese lessons</h3>
    <div class="row">
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--reputable"></div>
            <h4 class="lessons__keyword">Reputable</h4>
            <div>Four years teaching experience – <a href="/reviews" ng-click="showReviews($event)">student reviews</a></div>
        </div>
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--adaptable"></div>
            <h4 class="lessons__keyword">Adaptable</h4>
            <div>Tailored to your interests – in Shanghai or on Skype</div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--efficient"></div>
            <h4 class="lessons__keyword">Efficient</h4>
            <div>Lessons designed for fast and solid progression</div>
        </div>
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--bilingual"></div>
            <h4 class="lessons__keyword">Trilingual</h4>
            <div>English or French explanations</div>
        </div>
    </div>
</section>

<section class="contact">
    <h3 class="home__title padded">Contact me</h3>
    <div class="contact__portrait"></div>
    <div class="contact__methods">
        <div class="contact__method">
            <a ng-href="mailto:fangyan61@gmail.com" class="contact__icon icon icon-email-white"></a><h4 class="contact__address contact__address--email">fangyan61@gmail.com</h4>
        </div>
        <div class="contact__method">
            <a target="_blank" href="https://www.facebook.com/yan.fang.5855">
                <span class="contact__icon icon icon-facebook-white"></span><h4 class="contact__address">facebook.com/yan.fang.5855</h4>
            </a>
        </div>
    </div>
</section>
