.home__title
    margin-bottom: 15px

// Lessons

.lessons
    margin-bottom: -15px
    overflow: hidden

.lessons__item
    text-align: center
    margin-bottom: 15px

.lessons__illus
    display: block
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    width: 120%
    margin-left: -10%
    padding-top: 80%
    @media screen and (max-width: 1050px)
        padding-top: 90%
    @media screen and (max-width: 900px)
        padding-top: 100%
    @media screen and (max-width: $bootstrapsm - 1)
        padding-top: 65%
    @media screen and (max-width: 650px)
        padding-top: 80%
    @media screen and (max-width: 500px)
        padding-top: 100%

.lessons__illus--reputable
    background-image: url(/static/images/Mat_Lily_01.svg)
.lessons__illus--adaptable
    background-image: url(/static/images/Mat_Lily_02.svg)
.lessons__illus--efficient
    background-image: url(/static/images/Mat_Lily_03.svg)
.lessons__illus--bilingual
    background-image: url(/static/images/Mat_Lily_04.svg)

.lessons__keyword
    margin: 8px 0 4px

// Plans

.plans__table
    border: none
    border-collapse: collapse
    td
        padding: 8px
        border-left: 8px solid white
        &:first-child
            border-left: none
    tr:nth-child(odd)
        .plan--customized
            background: darken(lighten($home, 30%), 3%)
        .plan--individual, .plan--group, .plan__feature__description
            background: darken(#F0F0F0, 3%)

.plan__header
    text-align: center
    vertical-align: top
    width: 25%

.plan--customized
    background: lighten($home, 30%)

.plan__price
    margin-bottom: 4px

.plan--individual, .plan--group, .plan__feature__description
    background: #F0F0F0

.plan__feature__presence
    text-align: center

.plan__feature__description
    height: 8rem

.plan__feature__check
    width: 32px
    height: 32px

.plan__select
    text-align: center
    h4
        display: inline

.nowrap
    white-space: nowrap

.plan__select__arrow
    position: relative
    height: 1em
    width: 1em
    display: inline-block
    .icon
        display: inline-block
        position: absolute
        top: 2px
        left: 5px
        height: 1em
        width: 1em
        background-repeat: no-repeat
        background-size: contain
        background-position: 0 center
        animation: bounce 0.8s linear infinite

@keyframes bounce
    0%, 100%
        transform: translateX(0)
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    50%
        transform: translateX(0.5em)
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)

// Contact

.contact__portrait
    background-image: url(/static/images/portrait.jpg)
    background-position: 0% 20%
    background-repeat: no-repeat
    background-size: cover
    padding-top: 70%

.contact__method
    margin: 15px 0 15px 15px

.contact__icon, .contact__address
    display: inline-block
    vertical-align: middle

.contact__icon
    background-color: $home
    border-radius: 3px
    width: 32px
    height: 32px

.contact__address
    margin: 0 0 0 10px
    color: $default

.contact__address--email
    font-weight: bold

@media screen and (min-width: 610px)
    .contact__portrait
        border-radius: 100%
        width: 250px
        height: 250px
        padding-top: 0
        margin-left: $padding
        display: inline-block
        vertical-align: middle
    .contact__methods
        display: inline-block
        vertical-align: middle
