<section class="latest">
    <h3 class="padded">Latest</h3>
    <div class="row">
        <lm-carousel period="4">
            <div class="col-xs-4" ng-repeat="tab in ['posts', 'photos', 'videos']" ng-class="'col{{$index}}'">
                <a href="/{{tab}}" >
                    <div class="translucent-header">
                        <div>{{tab | Ufl}}</div>
                        <small>{{latest[tab][0].ago | Ago}}</small>
                    </div>
                    <div class="placeholder" ng-repeat="article in latest[tab]" ng-class="{active: carousel % latest[tab].length == $index}" ng-style="{'background-image': 'url({{article | ImgSrc: 397}})'}"></div>
                </a>
            </div>
        </lm-carousel>
    </div>
</section>

<section class="mailchimp padded">
    <label for="mailchimp-email">
        <h3>Join the newsletter!</h3>
    </label>

    <form action="http://lilymandarin.us3.list-manage.com/subscribe/post?u=8a65a9b821e6f82d77ea3557d&amp;id=b6fc866739" method="post" target="_blank">
        <input type="email" class="form-control input-lg" id="mailchimp-email" value="" name="EMAIL" placeholder="Enter your email address" required><button type="submit" class="btn btn-lg btn-primary">Subscribe</button>
    </form>

    <div class="perks">
        <div>
            <span class="icon icon-check-green"></span><span>One email a week</span>
        </div>
        <div>
            <span class="icon icon-check-green"></span><span>Easy to unsubscribe – no spam</span>
        </div>
        <div>
            <span class="icon icon-check-green"></span><span>Free!</span>
        </div>
    </div>

    <div class="latest-campaign">
        Latest sample:
        <lm-write src="http://us3.campaign-archive1.com/generate-js/?u=8a65a9b821e6f82d77ea3557d&fid=3945&show=1">
            <span>Loading...</span>
        </lm-write>
    </div>
</section>

<section class="lessons padded">
    <h3>Private Chinese lessons</h3>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="illus reputable"></div>
            <h4>Reputable</h4>
            <div>Four years teaching experience – <a href="/reviews" ng-click="showReviews($event)">student reviews</a></div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="illus adaptable"></div>
            <h4>Adaptable</h4>
            <div>Tailored to your interests – in Shanghai or on Skype</div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-3">
            <div class="illus efficient"></div>
            <h4>Efficient</h4>
            <div>Lessons designed for fast and solid progression</div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="illus bilingual"></div>
            <h4>Trilingual</h4>
            <div>English or French explanations</div>
        </div>
    </div>
</section>

<section class="contact">
    <h3 class="padded">Contact me</h3>
    <div class="portrait"></div>
    <div class="methods">
        <div class="method email">
            <a ng-href="mailto:{{email}}" class="icon icon-email-white"></a><h4>{{email}}</h4>
        </div>
        <div class="method">
            <a target="_blank" href="https://www.facebook.com/yan.fang.5855">
                <span class="icon icon-facebook-white"></span><h4>facebook.com/yan.fang.5855</h4>
            </a>
        </div>
    </div>
</section>
