<section class="lessons padded">
    <h3 class="home__title">Cours de chinois à Bordeaux</h3>
    <div class="row">
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--reputable"></div>
            <h4 class="lessons__keyword">Réputé</h4>
            <div>Six ans d'expérience professionnelle</div>
        </div>
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--adaptable"></div>
            <h4 class="lessons__keyword">Personnalisé</h4>
            <div>Cours adaptés à vos intérêts</div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--efficient"></div>
            <h4 class="lessons__keyword">Efficace</h4>
            <div>Progression solide et rapide</div>
        </div>
        <div class="lessons__item col-xs-6 col-sm-3">
            <div class="lessons__illus lessons__illus--bilingual"></div>
            <h4 class="lessons__keyword">Trilingue</h4>
            <div>Explications en français ou anglais</div>
        </div>
    </div>
</section>

<section class="plans padded">
    <h3 class="home__title">Carte des cours</h3>
    <table class="plans__table">
        <tr>
            <td class="plan__select">
                <h4>Choisissez votre</h4>
                <span class="nowrap">
                    <h4>cours</h4>
                    <span class="plan__select__arrow">
                        <span class="icon icon-arrow-black"></span>
                    </span>
                </span>
            </td>
            <td class="plan__header plan--customized">
                <h4 class="plan__name">Personnalisé</h4>
                <h4 class="plan__price">30€/h</h4>
                <span class="plan__description">Idéal pour soutien scolaire et formation professionnelle. Passez vos examens brillamment et communiquez avec vos partenaires de travail en Chine.</span>
            </td>
            <td class="plan__header plan--individual">
                <h4 class="plan__name">Individuel</h4>
                <h4 class="plan__price">20€/h</h4>
                <span class="plan__description">Idéal pour développement personnel. Ajoutez une nouvelle compétence a votre CV ou préparez un futur déplacement en Chine.</span>
            </td>
            <td class="plan__header plan--group">
                <h4 class="plan__name">Groupe (2-4 pers.)</h4>
                <h4 class="plan__price">12€/h</h4>
                <span class="plan__description">Idéal pour développement mutuel. Rencontrez et communiquez avec des personnes passionnées par la Chine et le chinois.</span>
            </td>
        </tr>
        <tr>
            <td class="plan__feature__description">Livres conçus pour garantir votre progrès</td>
            <td class="plan__feature__presence plan--customized">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--individual">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--group">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
        </tr>
        <tr>
            <td class="plan__feature__description">Chansons chinoises avec paroles, prononciation, et traduction</td>
            <td class="plan__feature__presence plan--customized">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--individual">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--group">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
        </tr>
        <tr>
            <td class="plan__feature__description">(Pros) Formation adaptée a votre domaine de travail</td>
            <td class="plan__feature__presence plan--customized">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--individual"></td>
            <td class="plan__feature__presence plan--group"></td>
        </tr>
        <tr>
            <td class="plan__feature__description">(Étudiants) Préparation personnalisée pour votre livre scolaire et vos examens</td>
            <td class="plan__feature__presence plan--customized">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--individual"></td>
            <td class="plan__feature__presence plan--group"></td>
        </tr>
        <tr>
            <td class="plan__feature__description">Mini-cartes de révision</td>
            <td class="plan__feature__presence plan--customized">
                <span class="plan__feature__check icon icon-check-green"></span>
            </td>
            <td class="plan__feature__presence plan--individual"></td>
            <td class="plan__feature__presence plan--group"></td>
        </tr>
    </table>
</section>

<section class="contact">
    <h3 class="home__title padded">Contactez-moi</h3>
    <div class="contact__portrait"></div>
    <div class="contact__methods">
        <div class="contact__method">
            <a ng-href="mailto:fangyan61@gmail.com" class="contact__icon icon icon-email-white"></a><h4 class="contact__address contact__address--email">fangyan61@gmail.com</h4>
        </div>
        <div class="contact__method">
            <a target="_blank" href="https://www.facebook.com/yan.fang.5855">
                <span class="contact__icon icon icon-facebook-white"></span><h4 class="contact__address">facebook.com/yan.fang.5855</h4>
            </a>
        </div>
    </div>
</section>

<section class="reviews padded">
    <h3 class="home__title">Témoignages d'étudiants</h3>
    <lm-reviews></lm-reviews>
</section>
