.lm-center__1
    display: table
    width: 100%
    height: 100%

.lm-center__2
    display: table-cell
    vertical-align: middle

.lm-center--horizontal
    .lm-center__2
        text-align: center
    .lm-center__3
        display: inline-block
