.video-header__title, .video-header__admin
    display: inline-block
    vertical-align: middle

.video-header__admin
    margin-left: 5px

.video-header .ago
    margin: 5px 0 10px
    color: $gray
    display: block
    &:first-letter
        text-transform: uppercase
