<span ng-if="encodedUrl"><a class="facebook btn" target="_blank" ng-href="https://www.facebook.com/sharer/sharer.php?u={{encodedUrl}}" ng-click="popup($event)">
    <span class="icon-container">
        <span class="icon icon-facebook-white"></span>
    </span>
    <span class="text">Share on Facebook</span>
</a><a class="twitter btn" target="_blank" ng-href="http://twitter.com/intent/tweet?text={{encodedText}}&url={{encodedUrl}}" ng-click="popup($event)">
    <span class="icon-container">
        <span class="icon icon-twitter-white"></span>
    </span>
    <span class="text">Share on Twitter</span>
</a></span>
