.photos
    main
        margin-top: 5px
        > .admin
            margin-bottom: $padding
        > div
            position: relative
    .new
        margin-top: 10px
    .photo
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
